<!DOCTYPE html>
<html>
    <head>
        <title>Add task</title>
    </head>
    <body>
<form action="/add" method="POST" class="task-form">
    
    <input type="text" name="task" placeholder="Enter your task..." required>

    <select name="category" required>
        <option value="">Select Category</option>
        <option value="Meeting">Meeting</option>
        <option value="Design">Design</option>
        <option value="Learning">Learning</option>
        <option value="Hobby">Hobby</option>
        <option value="Health">Health</option>
        <option value="Finance">Finance</option>
        <option value="Personal">Personal</option>
        <option value="Special Event">Special Event</option>
        <option value="Shopping">Shopping</option>
        <option value="Work">Work</option>
        <option value="Other">Other</option>
    </select>

    <button type="submit">Add Task</button>

</form>
</body>
</html>