<!DOCTYPE html>
<html>
<head>
    <title>Add task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>

<!-- Back button -->
<a href="/home" class="back-btn">← Back</a>
<h2>Add a task and stay organized</h2>

<div class="container">

    <form action="/add" method="POST" class="task-box">

        <textarea
            name="tasks"
            id="task-textarea"
            class="task-textarea"
            placeholder="Write your task here...">
        </textarea>

        <button type="submit" class="add-btn">+</button>

    </form>

</div>

</body>
</html>