<!DOCTYPE html>
<html>
    <head>
        <title>Add task</title>
    </head>
    <body>
        <h1>WORKING</h1>
        <div class="add task-container">
            <a href="/home" class="back-btn">← Back</a>
            <h2>🌷 What's on your mind today?</h2>
           <p>One small step today is still progress.</p>

<form action="/add" method="POST" class="task-form">
    
    <textarea 
    name="task"
     placeholder="Write your thoughts, goals, or tasks for today..." 
    rows="6"
    required>
    </textarea>

    <select name="category" required>
        <option value="">Select Category</option>
        <option value="Meeting">Meeting</option>
        <option value="Design">Design</option>
        <option value="Learning">Learning</option>
        <option value="Hobby">Hobby</option>
        <option value="Health">Health</option>
        <option value="Finance">Finance</option>
        <option value="Personal">Personal</option>
        <option value="Special Event">Special Event</option>
        <option value="Shopping">Shopping</option>
        <option value="Work">Work</option>
        <option value="Other">Other</option>
    </select>

    <button type="submit">Save Task</button>

</form>
</div>
</body>
</html>