<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
</head>
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
<script src="{{url_for('static',filename='script.js')}}"></script>
<body>

    <div class="dashboard-container">
           <header class="dashboard-header">
            
             <h1>Good Evening, Nayan 👋</h1>
             <p>Keep up the great work today!</p>


           </header>

           <main class="dashboard-content">
        
           <section class="dashboard-card score-card">
            <h2 class="card-title">Today's Score</h2>
             <div class="card-content" >
              <div class="circle-container">
                <div class="progress-circle-placeholder">
                  progress circle 
                <span class="score-text">75%</span></div>
                </div>
                <div class="score-item">
                <span>completed</span>
                <span>5/10</span>
                </div>
                <div class="score-item">
                  <span>pending</span>
                <span>pending</span>
                <span>5/10</span>
                </div>
                <div class="score-item">
                <span>added today</span>
                <span>added today</span>
                <span>8/10</span>
                </div>
                
                </div>
                </section>

              <section class="dashboard-card weekly-card">
                <h2 class="card-title">Weekly Progress</h2>
                 <div class="card-content" >
                  <div class="weekly-change">
                   <p>+18% Better than last week</p>
                   </div>
                   <div class="weekly-stat">
                   <span> this week</span>
                   <span>28 tasks</span>
                   </div>
                   <div class="weekly-stat">
                    <span>last week</span>
                    <span>18 tasks</span>
                   </div>
                   <div class="graph">
                    
                   <div class="graph-placeholder">Graph coming here</div>
                   
                   </div>
                 </div>
           </section>

           <section class="dashboard-card category-card">
             <h2 class="card-title">Category Distribution</h2>
             <div class="card-content" >
               <div class="category-items">
                <span>Study</span>
                <span>40%</span>
                </div>
                <div class="category-items">
                <span>Work</span>
                <span>30%</span>
                </div>
                <div class="category-items">
                <span>Personal</span>
                <span>30%</span>
                </div>
                <div class="category-items">
                <span>Health</span>
                <span>0%</span>
                </div>
              </div>
              
           </section>

           <section class="dashboard-card stats-card">
             <h2 class="card-title">Statistics</h2>
             <div class="card-content" >
              <div class="stat-item">
                 <span>Total Tasks</span>
                 <span>248</span>
              </div>

            <div class="stat-item">
                <span>Completed Tasks</span>
                <span>15</span>
            </div>

           <div class="stat-item">
             <span>Pending Tasks</span>
             <span>5</span>
           </div>
            </div>

           </section>

           <section class="dashboard-card achievement-card">
             <h2 class="card-title">Achievements</h2>
             <div class="card-content" >
                      <div class="achievement-item">
                      🔥 5 Day Streak
                      </div>

                      <div class="achievement-item">
                     ⭐ Perfect Day
                     </div>

                      <div class="achievement-item">
                     💯 Completed 100 Tasks
                     </div>
                </div>
                </section>

         
    </main>
  </div>
    
</body>
</html>