<!DOCTYPE html>
<html>
<head>
    <title>TaskFlow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <div class="hero-section">
        <img src="{{ url_for('static', filename='images/toDo_app_image.png') }}"
     alt="Motivation"
     class="hero-image">
         <h1 class="text-message">You have {{ pending|length }} tasks today</h1>
    </div>


<!-- Sidebar -->
<div id="sidebar" class="sidebar">
    <a href="javascript:void(0)" onclick="closeSidebar()">✖</a>
    <a href="/home">Home</a>
    <a href="#">Category</a>
    <a href="/history">History</a>
</div>

<!-- Topbar -->
<div class="topbar">
    <span class="menu-btn" onclick="openSidebar()">☰</span>
    <h2>Hello Nayan !</h2>
    <div class="profile">👤</div>
</div>

<!-- Main Content -->
<div class="home-container">

    <h3>Categories</h3>

    <!-- your category boxes here -->

    <!-- ✅ ADD FORM HERE -->
    <form action="/add" method="POST" class="task-form">
        
        <input type="text" name="task" placeholder="Enter your task..." required>

        <select name="category" required>
            <option value="">Select Category</option>
            <option value="Meeting">Meeting</option>
            <option value="Design">Design</option>
            <option value="Learning">Learning</option>
            <option value="Hobby">Hobby</option>
            <option value="Health">Health</option>
            <option value="Finance">Finance</option>
            <option value="Personal">Personal</option>
            <option value="Special Event">Special Event</option>
            <option value="Shopping">Shopping</option>
            <option value="Work">Work</option>
            <option value="Other">Other</option>
           
        </select>

        <button type="submit">Add Task</button>

    </form>

</div>

    <h3>Today's Tasks</h3>

    <div class="today-tasks">
        {% if pending_tasks %}
            {% for task in pending_tasks %}
                <div class="task-card">
    <h4>{{ task.name }}</h4>
<p>{{ task.category }} • {{ task.status }}</p>
<small>{{ task.date }}</small>
<button onclick="markDone('{{ task.id }}')">Done</button>
    <button onclick="deleteTask('{{ task.id }}')">Delete</button>
    {% if completed_tasks %}
        <h3>Completed Tasks</h3>
        {% for task in completed_tasks %}
            <div class="task-card">
                <h4>{{ task.name }}</h4>
                <p>{{ task.category }} • {{ task.status }}</p>
                <small>{{ task.date }}</small>
                <button onclick="deleteTask('{{ task.id }}')">Delete</button>
            </div>
        {% endfor %}
    {% endif %}
</div>
            {% endfor %}
        {% else %}
            <p>No tasks yet</p>
        {% endif %}
    </div>

</div>

</body>
</html>