<!DOCTYPE html>
<html>
<head>
    <title>FlowDo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <div class="topbar">
    <span class="menu-btn" onclick="openSidebar()">☰</span>
    <h2>Hello Nayan !</h2>
    
    <div class="profile">👤</div>
</div>

    <div class="hero-section">
        <img src="{{ url_for('static', filename='images/toDo_app_image.png') }}"
     alt="Motivation"
     class="hero-image">
         <h1 class="text-message">You have {{ pending_count }} task{% if pending_count != 1 %}s{% endif %} today</h1>
    </div>



<div id="sidebar" class="sidebar">
    <a href="javascript:void(0)" onclick="closeSidebar()">✖</a>
    <a href="/home">Home</a>
    <a href="/history">History</a>
    <a href="/add-task">Add Task</a>
    <a href="/dashboard">Dashboard</a>
</div>



<div class="today-tasks">
    <h3>Today's Tasks</h3>


   {% if pending_tasks %}
 
     {% for task in pending_tasks %}

        <div class="task-card">

           <div class="task-header">

              <div class="task-text">
               <h4>{{ task.name }}</h4>
               <p>{{ task.icon }} {{ task.category }}</p>
               <small>{{ task.date }}</small>
                    </div>
  
                  <div class="task-buttons">
                  <button class="done-btn" onclick="markDone('{{ task.id }}')"> ✓ </button>

                  <button class="delete-btn" onclick="deleteTask('{{ task.id }}')"> 🗑 </button>
                  </div>

                </div>

            </div>

        {% endfor %}

    {% else %}

        <p>No pending tasks.</p>

    {% endif %}

</div>

<div class="new-task-container">
    <a href="/add-task" class="new-task-btn">
        <span class="plus-icon">+</span>
        <span>New Task</span>
    </a>
</div>

</body>
</html>