<!DOCTYPE html>
<html>
    <title>Welcome</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <script>
        setTimeout(() =>{
            window.location.href="/home";
        },2000);
        </script>
        </head>
        <body class ="splash-body">
                <div class="splash-container">
                    <h1>TaskFlow</h1>
                    <p>Organize your chaos, one tast at a time </p>
                </div>
        
        </body>
</html>